
%h2 Con Side Arguments

%table.con_side_arguments
  %tr
    %th Title
    %th Pro Side
    %th Winner
    %th Loser
    %th Status
    %th
    %th
    %th

  - @con_side_arguments && @con_side_arguments.each do |argument|
    %tr
      %td= link_to(argument.essay.title)
      %td= argument.owner.user_name
      %td= argument.winner_id
      %td= argument.loser_id
      %td= argument.status
      %td= link_to 'Show', argument

%br
