= simple_form_for(@argument) do |f|
  = f.error_notification

  .form-inputs
    = f.input :owner_id
    = f.input :con_side_id
    = f.input :con_side_essay
    = f.input :winner_id
    = f.input :loser_id
    = f.input :status

  .form-actions
    = f.button :submit
