
.panel.panel-default.main-panel
  .panel-heading
    .panel-title
      main
  .panel-body
    %p
      %b Con side essay:
      = @argument.con_side_essay
    %p
      %b Winner:
      = @argument.winner_id
    %p
      %b Loser:
      = @argument.loser_id
    %p
      %b Status:
      = @argument.status

    - if policy(@argument).edit?
      = link_to 'Edit', edit_user_argument_path(current_user, @argument)
    - if policy(@argument).add_judges?
      = render "add_judges"
    - if @argument.judges.count >= Argument::BASE_NUM_JUDGES && policy(@argument).add_judges?
      .begin_judgement_phase_button_div
        .btn.btn-default
          = link_to( "Begin Judgement Phase","/users/#{current_user.id}/arguments/#{@argument.id}/transition_to_being_judged", method: "put")
