.panel.panel-default.main-panel
  .panel-heading
    .panel-title
      The Motion
  .panel-body
    = markdown @essay.body

.panel.panel-default.main-panel
  .panel-heading
    .panel-title
      The Critique of The Motion
  .panel-body
    %p
      - if @argument.con_side_essay
        = markdown @argument.con_side_essay
      - else
        = "Critique not yet created"
    - if policy(@argument).edit?
      = link_to 'Edit', edit_user_argument_path(current_user, @argument)
    - if policy(@argument).add_judges?
      = render "add_judges"
    - if @argument.judges.count >= Argument::BASE_NUM_JUDGES && policy(@argument).add_judges?
      .begin_judgement_phase_button_div
        .btn.btn-default
          = link_to( "Begin Judgement Phase","/users/#{current_user.id}/arguments/#{@argument.id}/transition_to_being_judged", method: "put")
