.panel.panel-default.status-panel
  .panel-heading
    .panel-title
      = "Heading for Tally Panel"
  .panel-body
    .vote_tally
      %p
        = "Affirmative: #{@affirmative}"
      %p
        = "Negative: #{@negative}"
      %p
        = "Undecided: #{@undecided}"
      %p
        = "Total: #{@total}"

