%p#notice= notice

.container
  %div
    %h3
      Title:
  .content
    = @essay.title
  %div
    %h3
      Description:
  .content
    = @essay.description
  %div
    %h3
      Body:
  .content
    = @essay.body
  %div
    %h3
      Status:
      = @essay.status

#bottom_menu
  - if policy(@essay).edit?
    = link_to 'Edit', edit_user_essay_path(@user, @essay)
    \|
  = link_to 'Back', user_essays_path
