%p#notice= notice

.container
  %div
    Title:
  .content
    = @essay.title
  %div
    Description
  .content
    = @essay.description
  %div
    Body
  .content
    = @essay.body


= link_to 'Edit', edit_user_essay_path(@user, @essay)
\|
= link_to 'Back', user_essays_path
