= render 'shared/display_essay'
- if @essay.draft?
  #start_argument
    %a.btn.button= link_to "Start an Argument", "/users/#{current_user.id}/essays/#{@essay.id}/arguments/new"
#bottom_menu
  - if policy(@essay).edit?
    = link_to 'Edit', edit_user_essay_path(@user, @essay)
